<div style="float:left; margin:0 20px 20px 0;">
<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.uk/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=i6+Business+Centre+6-8+Charlotte+Square+Newcastle+Upon+Tyne+Tyne+and+Wear+NE1+4XF&amp;sll=54.979227,-1.587954&amp;sspn=0.008731,0.020449&amp;ie=UTF8&amp;hq=i6+Business+Centre&amp;hnear=Charlotte+Square,+Newcastle+Upon+Tyne+NE1+5,+United+Kingdom&amp;ll=54.971086,-1.620119&amp;spn=0.004311,0.009141&amp;z=16&amp;output=embed&iwloc=&amp;"></iframe><br />
</div>


<p>
i6 Business Centre<br />
6-8 Charlotte Square<br />
Newcastle Upon Tyne<br />
Tyne and Wear<br />
NE1 4XF<br />
United Kingdom
</p>

<p>
Phone: 0191 211 1995<br />
Mobile: 07889 922347<br />
Fax: 0191 211 1996<br />
Switchboard: 0191 211 1920<br />
</p>