<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />	
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	
	<link href="css/reset.css" rel="stylesheet" type="text/css" />
	<link href="css/layout.css" rel="stylesheet" type="text/css" />
	<link href="css/typography.css" rel="stylesheet" type="text/css" />
	<!--[if lte IE 7]><link href="css/fix_ie7.css" rel="stylesheet" type="text/css"/><![endif]-->
	<!--[if lt IE 7]><link href="css/fix_ie6.css" rel="stylesheet" type="text/css"/><![endif]-->
	
	<script src="js/jquery14.js"></script>
	<script src="js/cufon.js"></script>
	<script src="js/variable_black_400.js"></script>
	<script src="js/creighton_400.js"></script>
	
	<script>
	// SHOULD REMAIN IN HEAD
		Cufon.replace('.variable_black', {fontFamily: 'Variable Black', hover : true, separate : 'none'});
		Cufon.replace('.creighton', {fontFamily: 'Creighton', separate : 'none'});
	</script>
	
	<!--[if IE]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	
	<title>Sherpa - Blog Post</title>

</head>
<body>

	<header class="clearfix">
		
		<nav id="nSkip">
			<ul>
				<li><a href="#nMain" title="Skip To: Main Navigation">Main Navigation</a></li>
				<li><a href="#template" title="Skip To: Content">Content</a></li>
				<li><a href="#nQuickLinks" title="Skip To: Quick Links">Quick Link Navigation</a></li>
				<li><a href="#nLegal" title="Skip To: Legal Navigation">Legal Navigation</a></li>
			</ul>
		</nav>
		

		<a href="/" title="View: SHERPA Homepage" id="logo">
			<img src="img/header/logo.png" width="177" height="48" alt="Sherpa Logo" />
		</a>
		
		<address id="contactInfo">
			<span class="phoneUs">Call us now</span> <span class="phone">0191 211 1920</span><br />
			<span class="emailUs">or email</span> <a href="mailto:info@sherpabusinessconsultancy.com" class="email" title="Email Sherpa Business Consultancy">info@sherpabusinessconsultancy.com</a>
		</address>
		
	<!-- END: Contact Details -->		

	</header>	

<!-- END LAYOUT (Header) [] -->

	<div id="mainBar">
	
		<nav id="nMain">
			<ul class="variable_black">
				<li id="linkMain"><a href="/" title="View: SHERPA Homepage">Home</a></li>
				<li><a href="/" title="View: SHERPA's Business Consultancy Solutions">Solutions</a></li>
				<li><a href="/" title="View: SHERPA's Business Consultancy Services">Services</a></li>
				<li><a href="/" title="View: Case Studies, How SHERPA have helped business'">Case Studies</a></li>
				<li><strong><a href="/" title="View: The SHERPA Business Consultancy Blog">Blog</a></strong></li>
				<li><a href="/" title="View: About SHERPA Business Consultancy">About</a></li>
				<li><a href="/" title="View: SHERPA's Contact Details">Contact</a></li>
			</ul>
		</nav>
	
	<!-- END: Main Nav -->

		<form action="#" method="get" id="frmSearch">
			<fieldset class="class">
				<legend>Search SHERPA</legend>
				<label for="search">Search</label>
				<input type="text" title="Enter your Search Terms" id="search" value="Search Site" />
				<button type="submit" title="Search for these terms">Search</button>
			</fieldset>
		</form>
	
	</div>
	
	



<!-- START LAYOUT (ID: Template) [All Content always sits inside the template] -->
		
	<div id="template" class="three1 clearfix">
		
		<div id="clm1">
			
			<article class="article1">

				<h1><span class="creighton">Post title of Most recent Post</span> <small class="date">Posted [DATE]</small></h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. .</p>
				
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
				
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

			<!-- END: Content -->
				
				<footer class="footerShare clearfix">
					<dl>
						<dt>Share this:</dt>
						<dd>
							<ul>
								<li><a href="#" title="Share This On Facebook" class="fb">Facebook</a></li>
								<li><a href="#" title="Tweet This on Twitter" class="tw">Twitter</a></li>
							</ul>
						</dd>
					</dl>
				</footer>
				
				<small id="post">This entry was posted on [DATE] at [TIME] and os filled under <a href="#" title="View: [CATEGORY] Articles">General</a>.  You can follow any response to this entry through the <a href="#" title="Subscribe: The SHERPA Business Consultancy RSS">RSS 2.0 feed</a>.  you can leave a response or trackback from your own site</small>
				
				<section id="comments">
					<h2 class="title creighton">There is [COUNT] Response to this post</h2>
					<ol>
						<li>
							<blockquote>
								<cite><a href="#" rel="nofollow" title="About [USER]">[USER] Says...</a></cite>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
							</blockquote>
						</li>
						<li>
							<blockquote>
								<cite><a href="#" rel="nofollow" title="About [USER]">[USER] Says...</a></cite>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
							</blockquote>
						</li>
						<li>
							<blockquote>
								<cite><a href="#" rel="nofollow" title="About [USER]">[USER] Says...</a></cite>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
							</blockquote>
						</li>
						<li>
							<blockquote>
								<cite><a href="#" rel="nofollow" title="About [USER]">[USER] Says...</a></cite>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
							</blockquote>
						</li>
					</ol>
				</section>
				
			<!-- END Comments -->				
				
				<form action="" class="frmComment">
					<fieldset>
						<legend class="title creighton"><span>Leave a reply...</span></legend>	
						<dl class="clearfix">
							<dt><label for="frmName">Name:</label></dt>
							<dd><input type="text" title="Enter Your Name" class="textfield" id="frmName" value="Required" /></dd>
							<dt><label for="frmEmail">Email:</label></dt>
							<dd><input type="text" title="Enter Your Email Adress" class="textfield" id="frmEMail" value="Required (but not published)" /></dd>
							<dt><label for="frmWebsite">Website:</label></dt>
							<dd><input type="text" title="Enter Your Website Adress" class="textfield" id="frmWebsite" /></dd>
							<dt><label for="frmReply">Reply:</label></dt>
							<dd><input type="text" title="Enter Your Reply" class="textarea" id="frmReply" value="Enter Your Reply" /></dd>
						</dl>
						<button type="submit" class="btn btn1" title="Post Your Reply"><span>Post Your Reply</span><i></i></button>
					</fieldset>
				</form>
				
			<!-- END Comments FORM -->				
				
			</article>
			
			
			
			



			
		</div>
			
	<!-- END: Clm1 -->
	
		<div id="clm2">
			
			<div class="contentv2">
				<nav class="nav5">
					<h2 class="title creighton">Archives</h2>
					<ul>
						<li><a href="#" title="View: Articles Posted in August 2010">August 2010</a></li>
						<li><a href="#" title="View: Articles Posted in July 2010">August 2010</a></li>
						<li><a href="#" title="View: Articles Posted in June 2010">August 2010</a></li>
						<li><a href="#" title="View: Articles Posted in May 2010">August 2010</a></li>
						<a href="#" title="Subscribe: SHERPA Business Consultancy Blog" class="rss">RSS</a>
					</ul>
					<a href="#" title="Subscribe: SHERPA Business Consultancy Blog" class="rss">RSS</a>
				</nav>
				
				<div class="hr"><hr /></div>
				
				<nav class="nav5">
					<h2 class="title creighton">Categories</h2>
					<ul>
						<li><a href="#" title="View: General Articles">August 2010</a></li>
						<li><a href="#" title="View: Funding Articles">August 2010</a></li>
						<li><a href="#" title="View: Business Growth Articles">August 2010</a></li>
						<li><a href="#" title="View: Training &amp; Mentoring Articles">August 2010</a></li>
						<li><a href="#" title="View: Sales Strategy Articles">August 2010</a></li>
						<li><a href="#" title="View: Delegation Articles">August 2010</a></li>
					</ul>
				</nav>
				
				<div class="hr"><hr /></div>
				
				<nav class="nav5">
					<h2 class="title creighton">Meta</h2>
					<ul>
						<li><a href="#" title="Register: SHERPA Business Consultancy Website">August 2010</a></li>
						<li><a href="#" title="Sign in: SHERPA Business Consultancy Website">August 2010</a></li>
					</ul>
				</nav>
			
			</div>
		<div class="clm2Bottom"></div>
					
			
	</div>
		
	<!-- END: Clm2 -->
	

	</div>
		
<!-- END LAYOUT (ID: Template) [All Content Must have ended by here] -->
<!-- START LAYOUT (ID: Footer) [Copyright + Global Nav] -->

	<footer id="fPage">
		
		<nav id="nQuickLinks" class="clearfix">
			<dl>
				<dt class="creighton">Links title One</dt>
				<dd class="clearfix">
					<ul>
						<li><a href="#" title="View: Link Title">Lorem Ipsum dollar ait amet</a></li>
						<li><a href="#" title="View: Link Title">Tempor incididunt ut labore</a></li>
						<li><a href="#" title="View: Link Title">Ut enim ad minim veniam</a></li>
						<li><a href="#" title="View: Link Title">Lorem Ipsum dollar ait amet</a></li>
					</ul>
				</dd>
			</dl>
			<dl>
				<dt class="creighton">Links title One</dt>
				<dd class="clearfix">
					<ul>
						<li><a href="#" title="View: Link Title">Lorem Ipsum dollar ait amet</a></li>
						<li><a href="#" title="View: Link Title">Tempor incididunt ut labore</a></li>
						<li><a href="#" title="View: Link Title">Ut enim ad minim veniam</a></li>
						<li><a href="#" title="View: Link Title">Lorem Ipsum dollar ait amet</a></li>
					</ul>
				</dd>
			</dl>
			<dl>
				<dt class="creighton">Links title One</dt>
				<dd class="clearfix">
					<ul>
						<li><a href="#" title="View: Link Title">Lorem Ipsum dollar ait amet</a></li>
						<li><a href="#" title="View: Link Title">Tempor incididunt ut labore</a></li>
						<li><a href="#" title="View: Link Title">Ut enim ad minim veniam</a></li>
						<li><a href="#" title="View: Link Title">Lorem Ipsum dollar ait amet</a></li>
					</ul>
				</dd>
			</dl>
			<dl class="last">
				<dt class="creighton">Links title One</dt>
				<dd class="clearfix">
					<ul>
						<li><a href="#" title="View: Link Title">Lorem Ipsum dollar ait amet</a></li>
						<li><a href="#" title="View: Link Title">Tempor incididunt ut labore</a></li>
						<li><a href="#" title="View: Link Title">Ut enim ad minim veniam</a></li>
						<li><a href="#" title="View: Link Title">Lorem Ipsum dollar ait amet</a></li>
					</ul>
				</dd>
			</dl>
		</nav>
		
		<nav id="nLegal">
			<span>&copy; copyright <a href="/" title="View: SHERPA Homepage">SHERPA 2010</a>. All Rights Reserved</span>
			<a href="#" title="View: SHERPA Business Consultancy Privacy Policy"  rel="nofollow">Privacy Policy</a>
			<a class="last" href="#" title="View: SHERPA Business Consultancy Terms of Use" rel="nofollow">Terms of Use</a>
		</nav>

	</footer>
	
	<script> 
		// SHOULD STAY HERE
		Cufon.now(); 
		ie7 = false; ie6 = false;
	</script>
	<!--[if lte IE 7]><script>ie7 = true;</script><![endif]-->
	<!--[if lt IE 7]><script> ie7 = false; ie6 	= true;</script><![endif]-->
	
</body>
</html>